to make a comment you must use one or more ben 10 alien force wii/psp/ps2 models and textures or more to share for the author of this repository!
Reasons why: I will need to rig the game's models and put them in MMD port.
